{
  "env": {
    "targets": {
      "node": 18
    }
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "esnext"
  },
  "module": {
    "type": "commonjs",
    "lazy": true
  }
}
